@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face {
	font-family: RobotoSlab;
	src: url('../fonts/Roboto Slab Regular.otf');
	src: url('../fonts/Roboto Slab Regular.woff') format('woff'), 
   url('../fonts/Roboto Slab Regular.ttf') format('truetype'), 
   url('../fonts/Roboto Slab Regular.svg') format('svg'),
   url('../fonts/Roboto Slab Regular.eot') format('eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: RobotoSlab;
	src: url('../fonts/Roboto Slab Bold.otf');
	src: url('../fonts/Roboto Slab Bold.woff') format('woff'), 
   url('../fonts/Roboto Slab Bold.ttf') format('truetype'), 
   url('../fonts/Roboto Slab Bold.svg') format('svg'),
   url('../fonts/Roboto Slab Bold.eot') format('eot');
	font-weight: bold;
	font-style: normal;
}

body{
   font-family: RobotoSlab;
   cursor: default;
}

img{
   max-width: 100%;
   width: 100%;
}

a{
   text-decoration: none;
}

ul{
   list-style: none;
}

// секция 1 - homePage 

.homePage {
   font-family: Montserrat;
   position: relative;
   color: #fff;
   min-height: 100vh;
   overflow: auto;
   &__backGround{
      background-color: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      z-index: -1;
   }

   &__backGroundImg{
      opacity: 0.55;
      object-fit: cover;
      height: 100%;
      width: 100%;
   }

   &__header {
      padding-top: 40px;
      padding-bottom: 17%;
   }

   &__content {
      text-align: center;
      padding-bottom: 221px;
   }

   &__title {
      font-size: 48px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1.2%;
   }

   &__text {
      font-family: RobotoSlab;
      font-size: 20px;
      padding-bottom: 50px;
      margin-bottom: 0;
   }

   &__btn {
      text-transform: none;
      transition-property: all;
      transition-duration: 0.5s;
      &:hover{
         transform: scale(1.2);
      }
   }
}

.logo {
   flex: 0 0 50%;
   font-size: 24px;
   line-height: 36px;
   font-weight: 700;
   margin-bottom: 0;
}
.navigate {
   flex: 0 0 50%;
   & ul{
      margin-bottom: 0;
      display: flex;
      padding-left: 0;
      justify-content: space-evenly;
   }
   &__item {
      font-size: 14px;
      line-height: 36px;
      font-weight: 400;
      letter-spacing: 0.025em;
      & a{
         color: #fff;
         transition-property: all;
         transition-duration: 0.3s;
         &:hover{
            background-color: #c0301c;
         }
      }
   }
}
.btn-send {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   color: #fff;
   display: inline-block;
   padding: 7px 22px;
   border: 2px solid #ffffff;
   border-radius: 2px;
   &:hover{
   color: #fff;
   }
}

// секция 2 - services 

.services {

		&__title {
         padding-top: 100px;
         padding-bottom: 30px;
      }

		&__line {
         margin-bottom: 30px;
      }

		&__text {
         padding-bottom: 70px;
      }
}
.title {
   text-align: center;
   margin: 0;
   font-family: Montserrat;
   font-size: 20px;
   line-height: 24px;
   font-weight: 500;
   text-transform: uppercase;
   color: #555555;
}

.sub-title{
   text-align: center;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
   margin: 0 auto;
}

.line {
   margin-left: auto;
   margin-right: auto;
   width: 50px;
   height: 2px;
   background-color: #555555;
}

.aboutServices {
   justify-content: space-between;
		&__item {
         flex: 0 0 33,33%;
         padding-bottom: 100px;
      }

		&__column {
         text-align: center;
      }
}

.column {
   &__img{
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1) img{
         width: 43px;
         height: 40px;
      }
      &:nth-child(2) img{
         width: 53px;
         height: 40px;
      }
      &:nth-child(3) img{
         width: 48px;
         height: 49px;
      }
      &_colorRed{
         background-color: #c0301c;
      }
   }
   &__title{
      padding-bottom: 25px;
      margin: 0;
   }
   &__text{
      margin: 0;
   }
}
.about-img {
   margin-left: auto;
   margin-right: auto;
   width: 90px;
   height: 90px;
   border: 2px solid #dddddd;
   border-radius: 50%;
}
.about-title {
   font-family: Montserrat;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   color: #555555;
}
.about-text {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
}

// Секция 3 - aboutUs

.aboutUs {

   &_background {
      background-color: #f8f8f8;
   }

   &__title {
      padding-top: 100px;
      padding-bottom: 30px;
   }

   &__line {
      margin-bottom: 30px;
   }

   &__subTitle{
      padding-bottom: 60px;
   }

   &__text {
      flex: 0 0 50%;
      margin-bottom: 0;
   }

   &__flexText{
      justify-content: space-between;
      padding-bottom: 70px;
   }
   .developers {
      position: relative;
      padding-bottom: 70px;
      &__item{
         text-align: center;
      }

      // .slick-slider{

      // }

      .slick-arrow{
         color: #dddddd;
         font-size: 0;
         border: 0;
         outline: none;
         line-height: 34px;
         background-color: rgba(85, 85, 85, 0.2);
         position: absolute;
         top: 27%;
         width: 35px;
         height: 38px;
         text-align: center;
         vertical-align: center;
         transition-duration: 0.5s;
         animation-timing-function:step-end;
         cursor: pointer;
         z-index: 1;
         &:hover{
            background-color: #c0301c;
         }
      }

      .slick-next{
         right: 2.4%;
         &:after{
            content: '';
            width: 15px;
            height: 15px;
            background: url('../img/about-us/fa-angle-right.svg') center no-repeat;
            background-size: contain;
            position: absolute;
            left: 33%;
            top: 30%;
         }
      }

      .slick-prev{
         left: 2.4%;
         &:after{
            content: '';
            width: 15px;
            height: 15px;
            background: url('../img/about-us/fa-angle-left.svg') center no-repeat;
            background-size: contain;
            position: absolute;
            left: 24%;
            top: 30%;
         }
      }
      
		&__portret {
         overflow: hidden;
         position: relative;
         width: 263px;
         height: 250px;
         margin: 0 auto;
      }
      &__img{
         object-fit: cover;
         &[alt = "Oleksii Naida"]{
            transform: scale(1.13);
         }
      }

		&__name {
         font-family: Montserrat;
         font-size: 14px;
         line-height: 24px;
         font-weight: 600;
         text-transform: uppercase;
         color: #555555;
         margin: 0;
         padding-top: 15px;
      }

		&__profession {
         font-size: 13px;
         line-height: 24px;
         font-weight: 400;
         color: #555555;
         margin: 0;
      }
}
   .contacts {
      background-color: rgba(85, 85, 85, 0.5);
      // display: flex;
      // justify-content: center;
      // align-items: flex-end;
      padding-top: 71%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition-property: all;
      transition-duration: 1s;
      &:hover{
         opacity: 1;
      }
      &__item {
         display: inline-block;
         transition-duration: 0.5s;
         animation-timing-function:step-end;
         text-align: center;
         flex: 0 0 25%;
         min-width: 28px;
         min-height: 28px;
         position: relative;
         &:hover{
            background-color: #c0301c;
            opacity: 1;
         }
      }

      &__img {

         position: absolute;

         &_facebook-size {
            width: 9px;
            height: 16px;
            top: 24%;
            left: 34%;
         }

         &_twitter-size {
            width: 17px;
            height: 14px;
            top: 25%;
            left: 24%;
         }

         &_google-size {
            width: 17px;
            height: 16px;
            top: 25%;
            left: 22%;
         }

         &_linkedin-size {
            width: 14px;
            height: 14px;
            top: 25%;
            left: 23%;
         }
      }
   }

}


// Секция 6 Latest Works

.latestWorks {
   color: #fff;
   &_padding-bottom{
      padding-bottom: 85px;
   }
   &__navigate {
      padding-bottom: 35px;
      text-align: center;
      & ul{
         padding-inline-start: 0px;
         margin-bottom: 0px;
      }
   }

   &__navigateItem {
      text-align: center;
      display: inline-block;
      padding-left: 20px;
      transition-property: all;
      transition-duration: 0.5s;
      &:first-child{
         padding-left: 0px;
      }
      input {
         display: none;
         &:checked + p{
            color: #c0301c;
         }
      }
      p{
         cursor: pointer;
         font-size: 16px;
         line-height: 24px;
         font-weight: 400;
         color: #555555;
      }
   }

   &__item {
      position: relative;
      overflow: hidden;
      height: 320px;
      margin: 15px 0px 15px 0px;
   }

   &__img {
      object-fit: cover;
      height: 100%;
   }

   &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin: 0px 13px 0px 12px;
      transition-property: all;
      transition-duration: 0.5s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(192, 48, 28, 0.6);
      opacity: 0;
      &:hover{
         opacity: 1;
      }
   }

   &__fa-angle-right-img{
      position: absolute;
      top: 36%;
      left: 76%;
      width: 6px;
      height: 10px;
   }

   &__author {
      font-family: Montserrat;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 7px;
   }

   &__subsection {
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 15px;
   }

   &__link {
      width: 100px;
      position: relative;
      height: 34px;
      &:hover{
         color: #c0301c;
      }
      display: inline-block;
      color: #c0301c;
      background-color: #fff;
      font-size: 14px;
      line-height: 35px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
   }
}

// Секция 5 - orderAproject

.orderAproject {
   position: relative;
   text-align: center;
   &_backGroundIMG {
      opacity: 0.4;
      object-fit: none;
      object-position: 12% 72%;
      height: 100%;
      width: 100%;
   }

   &__backGround {
      background-color: #c0301c;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      z-index: -1;
   }

   &__text {
      padding-top: 100px;
      padding-bottom: 50px;
      font-family: RobotoSlab;
      font-size: 30px;
      line-height: 44px;
      font-weight: 400;
      color: #ffffff;
      & a{
         margin-bottom: 0;
      }
   }

   &__btn {
      font-family: RobotoSlab;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 100px;
      transition-property: all;
      transition-duration: 0.5s;
      &:hover{
         transform: scale(1.2);
      }
   }
}

// Секция 6 - blog

.blog {

   &_padding{
      padding-bottom: 100px;
   }

   &__title {
      padding-top: 100px;
      padding-bottom: 30px;
   }

   &__line {
      margin-bottom: 30px;
   }

   &__sub-title {
      padding-bottom: 70px;
   }

   .recentPosts {
      
      &__link{
         text-decoration: none;
         color: #777777;
         &:hover{
            color: #c0301c;
         }
      }

		// &__item {
      //    // display: flex;
      //    // justify-content: space-evenly;
      // }

		&__img {
         &_size{
            object-fit: cover;
            max-height: 322px;
         }
      }

		&__content {
         padding-left: 30px;
      }

		&__header {
         padding-bottom: 20px;
         display: flex;
      }

		&__date {
         padding: 12px 7px;
         max-width: 11%;
         text-align: center;
         border: 2px solid #555555;
         & span{
            font-family: Montserrat;
            font-size: 24px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #777777;
         }
         & span:nth-child(2){
            font-size: 14px;
         }
      }

		&__title {
         padding-left: 30px;
         align-self: center;
         &_view{
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
         }
      }

		&__by {
         font-family: RobotoSlab;
         font-size: 13px;
         line-height: 24px;
         font-weight: 400;
         font-style: italic;
         color: #777777;
         margin-bottom: 0;
      }

		&__text {
         margin-bottom: 0;
         padding-bottom: 33px;
         word-break: break-all;
      }

		&__more {
         font-family: RobotoSlab;
         font-size: 13px;
         line-height: 24px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         color: #777777;
         margin-bottom: 0;
      }

		&__line {
         width: 100%;
         height: 1px;
         background-color: #dddddd;
         margin: 37px auto;
      }
}

}


// Секция 7 - company

.company {

   &_backGround{
      background-color: #f8f8f8;
   }

   &__list {
      justify-content: space-evenly;
      padding: 100px 0px 70px 0px;
      align-items: center;
      justify-content: center;
   }

   &__item {
      text-align: center;
      padding: 0;
   }
   &__img{
      width: 60%;
   }
}

.review {
   text-align: center;
   &__text {
      font-family: RobotoSlab;
      max-width: 67%;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      font-style: italic;
      color: #555555;
      margin: 0 auto 0 auto;
      display: none;
      &_indent{
         margin-bottom: 0;
         padding-bottom: 40px;
      }
   }

   &__by {
      font-size: 20px;
      font-style: normal;
   }

   &__next {
      padding-bottom: 100px;
   }


	&__switch {
      padding-bottom: 100px;
   }

   .switch {

      &_style {
         width: 13px;
         height: 13px;
         background-color: #dddddd;
         margin-bottom: 0;
         border-radius: 50%;
         margin-left: 7px;
      }

      &__item {
         text-align: center;
         & input{
            display: none;
            &:checked + .switch_style{
               background-color: #c0301c;
            }
         }
      }
   }
}

.opened{
   animation: fadeIn 0.8s;
   display: block;
}

@keyframes fadeIn {
   0%   { opacity: 0; }
   100% { opacity: 1; }
}

// Секция 8 getTouch

.communication {
   &_padding{
      padding-bottom: 100px;
   }
   &__title {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
      color: #555555;
   }

   &__text {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: #555555;
      margin-bottom: 0;
      & a{
         text-decoration: none;
         color: #555555;
         transition-property: all;
         transition-duration: 0.3s;
         &:hover{
            color: #c0301c;
         }
      }
   }
}
.contactUs {
   &__item{
      position: relative;
      padding-left: 5%;
      margin-bottom: 25px;
      transition-property: all;
      transition-duration: 0.5s;
      &:last-child{
         margin-bottom: 0;
      }
   }

   &__img {
      position: absolute;
      width: 12px;
      top: 9%;
      left: -1%;
      &_mail-size{
         width: 15px;
         height: 11px;
      }
   }

   &__title {
      margin-bottom: 0;
      padding-bottom: 1%;
   }

}

.contactYou {
   .form {
		&__input {
            height: 44px;
            margin-bottom: 20px;
            padding-left: 17px;
            width: 100%;
            background-color: #fff;
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: #000;
            border: 1px solid #555555;
            outline: none;
         &:focus{
            border-color: #c0301c;
         }
         &::placeholder{
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: #555555;
         }
         // &:focus{
         //    border-color: #c0301c;
         // }
      }
      &__btn{
         padding: 0px;
         color: #555555;
         text-transform: uppercase;
         transition-property: all;
         transition-duration: 0.5s;
         &:hover{
            color: #c0301c;
            border-color: #c0301c;
         }
      }
      &__textarea{
         padding-top: 14px;
         height: 105px;
      }

		&__text {
         margin-bottom: 0;
         font-size: 12px;
         line-height: 20px;
         font-weight: 400;
         color: #555555;
			&_red {
            color: #c0301c;
         }
		}
}

}


//Cекция 9

.footer {
   background-color: #c0301c;
   text-align: center;
}

.twitter {
   display: flex;
   justify-content: center;
   &_padding{
      padding: 100px 0 30px 0;
   }
   &__item{
      border: 2px solid #ffffff;
      border-radius: 50%;
      margin-left: 15px;
      padding: 5px 10px;
      &:first-child{
         margin: 0;
      }
   }
   &__img {
      max-width: 16px;
      max-height: 12px;
   }
}
.line {

   &_color {
      background-color: #fff;
   }
}
.address {

   &__text {
      opacity: 0.7;
      display: block;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      padding-bottom: 100px;
      padding-top: 30px;
   }
}

//Адаптив 

@media all and (max-width: 1400px) {
   .aboutUs {
      .developers{
         .slick-prev{
            left: 0.8%;
         }
         .slick-next{
            right: 0.8%;
         }
      }
   }
}

@media all and (max-width: 1200px) {
   .aboutUs {
      .developers{
         .slick-prev{
            left: 2.7%;
         }
         .slick-next{
            right: 2.7%;
         }
      }
   }
}

@media all and (max-width: 992px) {
   .aboutUs {
      .developers{
         .slick-prev{
            left: 6.1%;
         }
         .slick-next{
            right: 6.1%;
         }
      }
   }
   .blog{
      .recentPosts__title_view{
         text-align: left;
      }
      .recentPosts__date{
         padding: 12px 0px;
         max-width: 17%;
      }
   }
   .contactUs{
      .contactUs__img{
         left: -3%;
      }
   }

}

@media all and (max-width: 768px) {
   .services{
      &__title{
         padding-top: 30px;
      }
      .aboutServices{
         &__item{
            padding-bottom: 50px;
         }
      }
   }

   .aboutUs {
      &__title{
         padding-top: 50px;
      }

      &__subTitle{
         padding-bottom: 30px;
      }

      &__flexText{
         padding-bottom: 30px;
      }

      .developers{
         padding-bottom: 50px;
         .slick-prev{
            left: 24.5%;
         }
         .slick-next{
            right: 24.5%;
         }
      }
   }

   .latestWorks{
      &_padding-bottom{
         padding-bottom: 50px;
      }
   }

   .orderAproject{
      &__text{
         padding-top: 50px;
         padding-bottom: 25px;
      }
      &__btn{
         margin-bottom: 50px;
      }
   }

   .blog{
      &_padding{
         padding-bottom: 50px;
      }
      &__title{
         padding-top: 50px;
      }
      &__sub-title {
         padding-bottom: 35px;
      }
      .recentPosts {
         &__item {
            flex-direction: column;
            align-items: center;
         }
         &__img {
            width: 100%;
            margin-bottom: 30px;
         }
         &__content {
            width: 100%;
         }
         &__date {
            max-width: 14%;
         }
      }
   }

   .company{
      &__list{
         padding: 50px 0px 35px 0px;
      }
      &__item:last-child{
         margin-top: 10px;
      }
      .review{
         &__text{
            max-width: 100%;
         }
      }
      .review{
         &__switch{
            padding-bottom: 50px;
         }
      }
   }

   .communication{
      &_padding{
         padding-bottom: 50px;
      }
   }

   .contactUs{
      .contactUs__img{
         left: -6%;
      }
   }

   .contactYou{
      .form{
         &__btn{
            font-size: 10px;
         }
      }
   }
   
   .footer{
      .twitter_padding {
         padding: 50px 0 30px 0;
      }
      .address__text {
         padding-bottom: 50px;
      }
   }
}

@media all and (max-width: 576px){
   .aboutServices{
      &__item{
         padding-bottom: 30px;
      }
   }

   .aboutUs {
      .developers{
         .slick-prev{
            left: 26.2%;
         }
         .slick-next{
            right: 26.2%;
         }
      }
   }

   .blog{
      .recentPosts__date{
         max-width: 13%;
      }
   }

   .company{
      &__list{
         padding: 40px 0px;
      }
      &__item{
         margin-bottom: 30px;
         &:nth-child(2){
            margin: 0px;
         }
         &:last-child{
            margin-top: 0px;
            margin-bottom: 0px;
         }
      }
      &__img{
         width: 35%;
      }
   }
   
   .communication{
      flex-direction: column-reverse;
      &_padding{
         padding-bottom: 0px;
      }
   }

   .contactUs{
      display: flex;
      padding-top: 50px;
      .contactUs__img{
         left: 5%;
      }
   }
}

@media all and (max-width: 320px){
   .aboutUs{
      &__flexText{
         flex-direction: column;
         padding-bottom: 30px;
      }
      &__title{
         padding-top: 30px;
      }
      &__subTitle{
         padding-bottom: 30px;
      }
      &__text{
         text-align: justify;
         &:first-child{
            padding-bottom: 20px;
         }
      }

      .developers{
         .slick-prev{
            left: 5.8%;
         }
         .slick-next{
            right: 5.8%;
         }
      }
   }

   .orderAproject{
      &__text{
         padding-top: 50px;
      }
      &__btn{
         margin-bottom: 50px;
      }
   }

   .blog{
      .recentPosts__date{
         max-width: 18%;
      }
      .recentPosts__title{
         padding-left: 10px;
      }
   }

   .contactUs{
      flex-direction: column;
      &__item{
         text-align: center;
      }
      .contactUs__img{
         left: 36%;
         &_position{
            left: 28%;
         }
      }
   }
}